@page "/others"

<PageTitle>Others</PageTitle>

<h1>Others</h1>

@*@namespace BlazorFluentUI.Components*@
@*@inherits FluentComponentBase*@

@*
    // -----------------------------------
    // CounterBadge
    // -----------------------------------
*@

<h2>CounterBadge</h2>

<CounterBadge Count="100" Appearance="Appearance.Accent">
    <FluentButton>
        <FluentIcon Name="@FluentIcons.Alert" Color="Color.Neutral" />
    </FluentButton>
</CounterBadge>

<Spacer Width="25" />

<CounterBadge Count="5" Appearance="Appearance.Neutral">
    <FluentButton Appearance="Appearance.Accent">
        <FluentIcon Name="@FluentIcons.Alert" Color="Color.Fill" />
    </FluentButton>
</CounterBadge>

<Spacer Width="25" />

<CounterBadge Count="5" Appearance="Appearance.Lightweight">
    <FluentButton Appearance="Appearance.Accent">
        <FluentIcon Name="@FluentIcons.Alert" Color="Color.Fill" />
    </FluentButton>
</CounterBadge>

<Spacer Width="25" />

<CounterBadge Count="5" Appearance="Appearance.Lightweight" BackgroundColor="Color.Lightweight" Color="Color.Error">
    <FluentButton Appearance="Appearance.Accent">
        <FluentIcon Name="@FluentIcons.Alert" Color="Color.Fill" />
    </FluentButton>
</CounterBadge>

<Spacer Width="25" />


<CounterBadge Count="9" BackgroundColor="@Color.Error" Color="Color.Fill">
    <FluentButton Appearance="Appearance.Filled">
        <FluentIcon Name="@FluentIcons.Mail" Color="Color.FillInverse" />
    </FluentButton>
</CounterBadge>

<Spacer Width="25" />

<CounterBadge Count="0" Appearance="Appearance.Accent" ShowZero=true>
    <FluentButton>
        <FluentIcon Name="@FluentIcons.Alert" Color="Color.Neutral" />
    </FluentButton>
</CounterBadge>

@code {}

<FluentDivider />

@*
    // -----------------------------------
    // MonacoEditor
    // -----------------------------------
*@

<h2>MonacoEditor</h2>

@* Remember to replace the namespace below with your own project's namespace. *@
@* @namespace FluentUI.Demo.Shared *@

@inherits FluentComponentBase
<Stack>
    <FluentSelect TOption="string" @bind-SelectedOption="@Language">
        <FluentOption>C#</FluentOption>
        <FluentOption>JavaScript</FluentOption>
        <FluentOption>Json</FluentOption>
        <FluentOption>Razor</FluentOption>
    </FluentSelect>
    <FluentSwitch @bind-Value="@IsDarkMode">Dark Theme</FluentSwitch>
</Stack>
<br />
<MonacoEditor Value="@Code" Language="@Language" IsDarkMode="@IsDarkMode" />

<b>Language:</b> @Language; <b>Code:</b> @Code; <b>IsDarkMode:</b> @IsDarkMode
<br />
<br />
<b>Code:</b> <pre style="border: solid 1px lightgray;">@Code</pre>

@code {
    private string Display_CSharp = "csharp";
    private string Display_JavaScript = "javascript";
    private string Display_Json = "json";
    private string Display_Razor = "razor";

    private string Language = "csharp";

    private bool IsDarkMode = true;

    private string Code = @"
using System;

void Main()
{
    Console.WriteLine(""Hello World"");
}
";
}

<FluentDivider />